body{
    margin: 0;
    padding: 0;
    background:url(/images/back2.jpg) no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
    object-fit: cover;
    object-position: bottom top;
    font-family: sans-serif;
}
.box{
    background: whitesmoke;
    color: red;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}
.user{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    position: absolute;
    top: -50px;
    left: 83px;    
}
h1{
    margin: 0;
    text-align: center;
    font-size: 24px;
    color: black;
}
p{
    color: red;
    font-weight: bold;
}
input{
    width: 100%;
    margin-bottom: 10px;
}
input[type="text"],input[type="password"]
{
    border:none;
    font-size: 16px;
    outline: none;
    height: 30px;
    color: black;
    background: transparent;

}
input[type="submit"]
{
    border: none;
    outline: none;
    height: 40px;
    background-color: brown;
    color: #fff;
    border-radius: 20px;
    font-size: 18px;
    transition: 0.5s;
}
input[type="submit"]:hover
{
    background-color: blue;
    cursor: pointer;
}
a{
    text-decoration: none;
    font-size: 16px;
    color: brown;
}
